[Unit]
Description=Nifki server
After=network.target

[Service]
#Environment="NIFKI_WIKI_ROOT=..."
#Environment="NIFKI_JS_ROOT=..."
#Environment="NIFKI_STATIC_ROOT=..."
#Environment="NIFKI_BASE_URL=..."
ExecStart=/home/apt1002/nifki/rust-nifki/target/release/nifki-js

[Install]
WantedBy=default.target
