<html>
 <head>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css"/>
  <title>Compiler output</title>
 </head>
 <body>
  <table class="all" cols="1" rows="1" align="center"><tr><td align="center">
   <h1 class="logo">
    <a href="/">
     <img src="/images/small-logo.png" alt="Nifki" style="float:left;"/>
    </a>
    Compiler output
   </h1>
   <br/>
   <table cols="1" rows="1"><tr><td>
    <p>
     The compiler found some errors in this program. You need to go to the
     <a href="/pages/{pagename}/edit/">editing</a> page and fix the errors.</p>
    <pre>{err}</pre>
    <p>Return to <a href="/pages/{pagename}/edit/">editing</a> page.</p>
   </td></tr></table>
  </td></tr></table>
 </body>
</html>
