<html>
 <head>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css"/>
  <title>{pagename}</title>
 </head>
 <body>
  <table class="all" cols="1" rows="1" align="center"><tr><td>
   <h1 class="logo" align="center">
    <a href="/">
     <img src="/images/small-logo.png" alt="Nifki" style="float: left;"/>
    </a>
    {pagename}
   </h1>
   <br />
   <p align="center">{name}</p>
   <table cols="2" rows="1" width="100%"><tr><td align="left">
    <a href="/pages/{pagename}/edit/">Edit</a> this game.
   </td><td align="right">
    Return to the <a href="/pages/">list of pages.</a>
   </td></tr></table>
  </td></tr></table>
 </body>
</html>
